.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-description {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.weather-temperature {
  font-weight: 600;
  font-size: 4.5rem;
  position: relative;
}

.weather-unit {
  font-size: 1.5rem;
  vertical-align: top;
  position: absolute;
}
