h1 {
  margin: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  /* TEST NOT KEEPING */
  min-height: 16rem;
}

.location {
  font-size: 6.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
