.header-container {
  display: flex;
  justify-content: space-between;
}

.location {
  font-size: 6.5rem;
  padding: 2rem;
  font-weight: 700;
  width: 70%;
}

.searchContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  border: 1px solid red;
  width: 80%;
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 10px;
  right: 0;
}

.goSearch {
  /* alter SVG from react-icons */
}

input[type="text"] {
  font-size: 3.5rem;
  height: 60px;
  display: inline-block;
  font-family: "Raleway";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid rgb(139, 139, 139);
}

input[type="text"]:focus {
  width: 700px;
  width: 100%;
  z-index: -1;
  border-bottom: 1px solid #bbb;
  cursor: text;
}

input[type="submit"] {
  border: none;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.4s ease;

  display: none;
}

input[type="submit"]:hover {
  opacity: 0.8;
}
